.card__forecasts__container {
  width: 100%;
}

.forecast-item__container {
  margin: 20px 5px 0 5px;
  min-width: 100px;
}

.forecast-item__container .day__text {
  color: #3d3c3c;
  font-weight: 700;
  font-size: 18px;
  margin: 20px 0;
  text-align: left;
}

.forecast-item__container .title {
  width: 100%;
  text-align: left;
}

.forecast-item__container .temperature__text {
  font-size: 16px;
  text-align: center;
}

.forecast-item__container .img__container {
  max-width: 70px;
}

.forecast-item__container .img__container img {
  width: 100%;
}

.forecast-item__container .info__container {
  max-width: 200px;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.forecast-item__container .temperature__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.forecast-item__container .wind__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0 0 0;
}

.forecast-item__container .description__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  font-size: 14px;
}


@media only screen and (max-width: 830px) {
  .card__forecasts__container {
    width: 100% !important;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 500px) {
  .day__text {
    font-size: 20px;
  }

  .forecast-item__container canvas {
    width: 80px;
  }

  .temperature__text {
    font-size: 15px;
  }

  .card__forecast-summary {
    font-size: 16px;
  }
}
